#show-skills{
    display:grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    margin: 2% 0 0 5%;
    text-align: center;
}

#icon-div{
    width:20vw;
}

#icon-div>img{
    width: 23%;
   
}

#show-skills-2{
    display:grid;
    grid-template-columns:90% ;
    margin: 2% 0 5% 14%;
    color: white;
}

#proj-parent{
    background-color:#1D1D1D;
    height: 50vh;
    margin-top: 2%;
    padding: 3%;
    border-radius:20px
}

#proj-content{
    display:flex;
    width: 100%;
}

#proj-content>div:nth-child(1){
    width: 35vw;
    height: 30vh;
}

#proj-content>div:nth-child(2){
    width: 35vw;
    border: 1px solid rgb(98, 98, 98);
    height: 30vh;
    padding: 1%;
}

#proj-content>div:nth-child(1)>img{
   width:100%;
   height: 100%;
}

#tech-img{
    display:grid;
    grid-template-columns: 7% 7% 7% 7% ;
    margin: 2% 0 0 0;
    column-gap: 10px;
}


#icon-div-2{
    border: 1px solid black;
    background-color: #292A2D;
    margin-left: 8%;
    margin-bottom: 5%;
    padding: 3% 2% 1% 5%;
    border-radius: 15px;
    color: white   ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#proj-parent>h3{
    color: white;
}


#link-proj,#live-link{
    color: white;
    margin-top: 0.5%;
    position: absolute;
}

#link-proj:hover , #live-link:hover{
   font-weight: 800;
}

#link-url{
    display:flex
}

#link-url>div:nth-child(2){
    margin-left: 6%;
}

#project-part{
    display:grid;
    grid-template-columns:10% 10% 10% 10%;
    padding-bottom: 10%;
}

#icon-tech{
    padding-left: 10%;;
}

#github-btn{
    background-color:#FC1056;
   width: 20vw;
   padding: 1%;
   border-radius: 5px;
   margin-left: 43%;
}

#contact-me{
    width: 80vw;
    margin:2% 0 0 14%;
    font-size: 16px;
    font-weight: 550;
    color: black;
}

#contact-icon{
    display:grid;
    grid-template-columns:5% 5% 5% 5%;
    column-gap: 80px;
    margin:2% 0 0 14%;
    text-align: center;
}
